/deepnetts-core/target/
/deepnetts-examples/target/
/deepnetts-core/nbproject/
/deepnetts-license/target/
/target/
/DeepNettsDevTests/target/
/deepnetts-examples/logs/
.idea/
*.iml
*.class
/deepnetts-core/logs/
.DS_Store